@charset "utf-8";

html,body{height:100%}
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,a,button,p,form,input,textarea,select,img{margin:0;padding:0}
body,h1,h2,h3,h4,h5,h6,p,a,button,input,textarea,select{font:normal 14px NanumGothic,"나눔고딕",Dotum,"돋움",Gulim,"굴림",Arial,Helvetica,Sans-serif;color:#666666}
article,header,footer,figure,figcaption,nav,section{display:block;padding:0;margin:0}
img,fieldset{border:none}
ul,ol{list-style:none}
em{font-style:normal}
a{color:#666666;text-decoration:none}
a:hover{color:#ff6b56}
button{border:0;background:none;vertical-align:middle;}
button,.pointer{cursor:pointer}
select{height:23px;border:1px solid #e3e3e3}
table{table-layout:fixed;border-spacing:0;border-collapse:collapse;word-wrap:break-word;}
input[type=text],input[type=password]{height: 25px; padding:6px 5px; border:1px solid #d2d2d2;box-sizing:border-box;-moz-box-sizing:border-box;}
textarea{display:block; resize:none;width:100%;height: 130px; padding:6px 5px; border:1px solid #d2d2d2;box-sizing:border-box;-moz-box-sizing:border-box;}
input[type=radio]{margin-left:10px;margin-right:5px;cursor:pointer;vertical-align:middle;}
input[type=radio]:first-child{margin-left:0}